
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 1rem 1.5rem;
  color: white;
  margin-bottom: 10px;
  font-size: 1.4rem;

  margin: 1; 

  .navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .navbar-toggler {
    display: none;
    font-size: 1.9rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: white;
      transition: color 0.3s;

      &:hover {
        color: #ffcc00;
      }
    }
  }

  /* Responsive */
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
    .navbar-links {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.8rem;
      background: rgba(0,0,0,0.9);
      position: fixed;   /* 👈 ocupa toda la pantalla */
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 2rem;
      font-size: 1.8rem;
      z-index: 9999;
    }
    .navbar-links.open {
      display: flex;
    }
  }
}

/* Menu de categorías */
.menu-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 10px; /* 👈 espacio lateral en TODOS los botones */
  min-height: calc(100vh - 50px); 
  margin: 0;

  .category-card {
    position: relative;
    width: 100%;
    .especialidad-boton {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 20px;

      .especialidad-imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 20px;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        border-radius: 20px;
      }
    }
  }
}
