<div class="menu-container row g-0">
  <div class="row">
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="goTo('sube')">
          <span class="d-md-none">Secciones</span>
          <img src="image/secciones2.jpg" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="goTo('')">
          <span class="d-md-none">Punto de Interes & Refencias</span>
          <img src="image/planetario.jpg" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="goTo('')">
          <span class="d-md-none">Simulador SUBE</span>
          <img src="image/simulador.jpg" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
          </div>
        </button>
      </div>
    </div>
  </div>
</div>