 <!-- Navbar del Simulador -->
<nav class="sim-navbar">
<button class="back-btn" (click)="goBack()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="27" height="27" fill="white">
    <path d="M15 19l-7-7 7-7"/>
  </svg>
</button>

  <div class="navbar-brand">Referencias</div>
</nav>

<div class="puntos-container">

  <table class="puntos-tabla">
    <thead>
      <tr>
        <th>Punto de interés / Referencia</th>
        <th>Parada correspondiente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of puntos">
        <td>{{ p.lugar }}</td>
        <td>{{ p.parada }}</td>
      </tr>
    </tbody>
  </table>
</div>
